name: Time Service CI

on: 
    workflow_dispatch:
    push:
        branches:
            - master

env: 
    AZURE_WEBAPP_NAME: time-service-01
    AZURE_WEBAPP_PACKAGE_PATH: ".Time.Api/publish"
    DONET_VERSION: "9.x"
    SOLUTION_PATH: "Time.Api.sln"
    API_PROJECT_PATH: "Time.Api"
    PUBLISH_DIR: "./publish"

jobs:
    build-and-test:
        name: Build and Test
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: ${{ env.DONET_VERSION }}

            - name: Restore
              run: dotnet restore Time.Api.sln

            - name: Build
              run: dotnet build Time.Api.sln -c Release --no-restore

            - name: Test
              run: dotnet test Time.Api.sln -c Release --no-build

            - name: Publish
              run: dotnet publish Time.Api -c Release -o publish

            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                name: webapp
                path: publish


    deploy:
        name: Deploy to Azure
        runs-on: ubuntu-latest
        needs: [build-and-test]   
        
        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: webapp
                  path: publish
            
            - name: Deploy
              uses: azure/webapps-deploy@v2
              with:
                app-name: ${{ env.AZURE_WEBAPP_NAME }}
                publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
                package: publish
                
                    
             
